:root {
  --clr-dark: #201e43;
  --clr-slate-800: #1e293b;
  --clr-slate-600: #475569;
  --clr-slate-400: #94a3b8;
  --clr-light: #eeeeee;
  --clr-grade2: #134b70;
  --clr-btn: #508c9b;

  /*sizes*/
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "General Sans", sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
button {
  background-color: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*about page - head-sec*/
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header__menu {
  display: none;
}
.header__bars {
  color: var(--clr-light);
  height: var(--size-2xl);
  width: var(--size-2xl);
  display: block;
}
/*about page feature main head sec*/
.feature_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feature_span {
  font-size: var(--size-sm);
}
.feature_main_head {
  font-size: var(--size-3xl);
}

/*about page - feature-card-sec*/
.feature__card__img {
  overflow: hidden;
}
.feature__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: #508c9b solid 0.5px;
  border-radius: 15px;
}

.features_1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.features_2 {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1rem;
  gap: 1rem;
}
/*about page join like sec*/
.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  border: #508c9b solid 0.5px;
  border-radius: 15px;
}
.join--heading {
  font-size: var(--size-3xl);
}
.join--desc {
  font-size: var(--size-sm);
}
/*about page integration sec*/
.integration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.integration-tools-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.integration-tool-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  margin-bottom: 1rem;
}
.integration-icon {
  font-size: 2rem;
}
/*about page footer sec*/
.footer-1-mail {
  display: block;
}
.footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
}
.footer-2 {
  display: flex;
  gap: 2rem;
}
.footer-links-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
