:root {
  --clr-dark: #201e43;
  --clr-slate-800: #1e293b;
  --clr-slate-600: #475569;
  --clr-slate-400: #94a3b8;
  --clr-light: #eeeeee;
  --clr-grade2: #134b70;
  --clr-btn: #508c9b;

  /*sizes*/
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.5rem);
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "General Sans", sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}
button {
  background-color: none;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*about page - head-sec*/
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.header__menu {
  display: none;
}
.header__bars {
  color: var(--clr-light);
  height: var(--size-2xl);
  width: var(--size-2xl);
  display: block;
}

/*about page footer sec*/
.footer-1-main {
  font-size: var(--size-3xl);
}
.footer-1-desc {
  font-size: var(--size-base);
}
.footer-1-mail {
  display: block;
  font-size: var(--size-sm);
  color: var(--clr-slate-400);
}
.footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  align-items: center;
}
.footer-2 {
  display: flex;
  gap: 2rem;
}
.footer-links-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-links-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-link {
  text-decoration: none;
  color: var(--clr-slate-400);
  font-weight: 300;
}
.footer-link-head {
  font-weight: 500;
}
/*join sec*/
.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
}
.join--heading {
  font-size: var(--size-3xl);
}
.join--desc {
  font-size: var(--size-sm);
}
/*form sec*/

/* .form-wrapr {
  border: #508c9b solid 0.5px;
  border-radius: 15px;
} */

input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

input::placeholder {
  color: var(--clr-slate-600);
  font-family: "General Sans", sans-serif;
  font-size: var(--size-base);
}
textarea::placeholder {
  color: var(--clr-slate-600);
  font-family: "General Sans", sans-serif;
  font-size: var(--size-base);
}
.form-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: #508c9b solid 0.5px;
  border-radius: 15px;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.inp-row1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.inp-row2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.field-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 22rem;
  border-radius: 10px;
  background-color: white;
}
.inp-row3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11rem;
  width: 22rem;
  border-radius: 10px;
  background-color: white;
}
.firstname {
  height: 3rem;
  width: 20rem;
  border: none;
}

.lastname {
  height: 3rem;
  width: 20rem;

  border: none;
}
.email {
  height: 3rem;
  width: 20rem;
  border-radius: 10px;
  border: none;
}
.phone {
  height: 3rem;
  width: 20rem;
  border-radius: 10px;
  border: none;
}
.message {
  height: 9rem;
  width: 20rem;

  border: none;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
  display: none; /* Hide error messages by default */
}

input:focus,
textarea:focus {
  outline-color: #007bff;
  border-color: #007bff;
}
